.cabecalho {
    display: flex;
    aling-content: center;
    justify-content: space-between;
    margin:2% 5%;
    
}

.nome {
    font-weight: 600
}

.menu_cabecalho{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;  
}

.menu_nav , .email{
    color: var(--preto);
    text-decoration : none;
    margin-right: 2em; 
}

.menu_nav:hover , .email:hover {
    text-decoration: underline;
}

.menu_nav:active {
    color: var(--bg_lilasMedio);
}

#email{
    font-weight: 800;

}

@media (max-width: 420px) {
    .cabecalho {
        justify-content: space-between;
        align-items: center;
    }
    
    .menu_nav {
        display: none;
    }

    .nome , .email {
        font-size: 0.75em;
        text-align: center;
    }

    #email {
        font-weight: 400;
        margin-right: 0; 
        text-decoration: none;
    }


}