.container-skills-hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.titulo-skill-hobbies {
    margin-bottom: 2%;
    font-size : 2rem;
    font-weight : 700;
}

.componentes-skill-hobbies {
    display: flex;
    justify-content: space-between;
    

}

.listas-componentes {
    background: var(--branco);
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1rem;
    margin: 1rem;
    width: 176px;
    height: 174px;

    border-radius: 1rem;
    box-shadow: 2px 2px var(--bg_lilasMedio);
}

.image-skill-hobbies {
    width: 40px;
    height: 40px;
    margin-bottom: 0.7rem;

}


@media (max-width:420px) {
    .container-skills-hobbies {
        padding: 10px;
    }

    .titulo-skill-hobbies {
        margin:10px;
        font-size : 1em;
    }

    .componentes-skill-hobbies {
        flex-wrap: wrap;  
        justify-content: space-evenly;
    }

    .listas-componentes {
        width: 116px;
        height: 108px;
        margin: 5px;
        padding: 1rem;
    }

    .image-skill-hobbies {
        width: 20px;
        height: 20px;
        margin-bottom: 0.7rem;
    }

    .nome-skill-hobbies {
        font-size: 0.75em;
    }
    

}