.container_sobre {
    display: flex;
    flex-direction: column;
    background-color: var(--bg_sobre) ;
    padding: 6rem ;

}

.titulo_sobre {
    margin-bottom: 2%;
    font-size : 2rem;
    font-weight : 700;

}

.texto_sobre {
    width: 70%;
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 420px) {
    .container_sobre {
        padding: 1rem;
        justify-content
    }

    .titulo_sobre {
        font-size : 1em;
    }

    .texto_sobre {
        font-size: 0.75em;
    }
}